.slider {
    margin: 50px auto;
    width: 20%;
}

.img-box {
    width: 100%;
}

img {
    width: 100%;
    height: 240px;
}

.prev {
    position: absolute;
    left: 38.6%;
    top: 15%;
    height: 100px;
}

.next {
    position: absolute;
    top: 15%;
    right: 38.6%;
    height: 100px;
}